apiVersion: v1
kind: ServiceAccount
metadata:
  name: backend-sa
  labels:
    app: backend
  annotations:
    eks.amazonaws.com/role-arn: ${AWS_IAM_ROLE_ARN_BACKEND}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: frontend-sa
  labels:
    app: frontend
  annotations:
    eks.amazonaws.com/role-arn: ${AWS_IAM_ROLE_ARN_FRONTEND}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: backend-role
spec:
  rules:
    - apiGroups: [""]
      resources: ["configmaps", "secrets"]
      verbs: ["get", "list", "watch"]
    - apiGroups: [""]
      resources: ["pods"]
      verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: backend-rolebinding
subjects:
  - kind: ServiceAccount
    name: backend-sa
roleRef:
  kind: Role
  name: backend-role
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: frontend-role
spec:
  rules:
    - apiGroups: [""]
      resources: ["configmaps"]
      verbs: ["get", "list", "watch"]
    - apiGroups: [""]
      resources: ["pods"]
      verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: frontend-rolebinding
subjects:
  - kind: ServiceAccount
    name: frontend-sa
roleRef:
  kind: Role
  name: frontend-role
  apiGroup: rbac.authorization.k8s.io
